<section class="md-padding">
	<img class="hero-img" src="assets/hero-medium.jpg">
	<div class="hero-text">
		<span>Make</span>
		<div id="hero-text-rotate">
			<ul>
				<li>Toys</li>
				<li>Knick-Knacks</li>
				<li>Prototypes</li>
				<li>Tools</li>
				<li>Parts</li>
				<li ng-style="{color: '#36ea6e'}">Money</li>
			</ul>
		</div>
		<div>
			<a href="#!/models" class="md-button md-raised">Models</a>
			<a href="#!/requests" class="md-button md-raised">Requests</a>
		</div>
	</div>
</section>
<section class="md-padding">

</section>

<style>
	section {
		width: 100%;
		box-sizing: border-box;
		position: relative;
		height: 97vh;
		overflow: hidden;
	}
	.hero-img {
		width: 110vw;
		position: absolute;
		top: -1vw;
		left: -5vw;
		filter: brightness(50%) blur(2px) grayscale(1);
	}
	.hero-text {
		margin-top: 20%;
		text-align: center;
		font-size: 4em;
		text-transform: uppercase;
		display: block;
		position: relative;
		z-index: 1;
		line-height: 2em;
		height: 2em;
		color: white;
		padding-top: 2px;
	}
	.hero-text span {
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
		line-height: 1em;
		height: 1em;
	}
	#hero-text-rotate {
		display: inline-block;
		overflow-y: hidden;
		position: relative;
		vertical-align: middle;
		height: 1em;
	}
	#hero-text-rotate ul{
		-webkit-margin-after: 0;
		-webkit-margin-before: 0;
		-webkit-padding-start: 0;
		margin: 0;
		padding: 0;
		text-align: left;
		line-height: 1em;
		height: 1em;
		list-style: none;
		-webkit-animation: rotate-text 7s infinite 1s ease;
		-moz-animation: rotate-text 7s infinite 1s ease;
		-o-animation: rotate-text 7s infinite 1s ease;
		animation: rotate-text 7s infinite 1s ease;
	}
	@keyframes rotate-text {

		0% {
			transform: translateY(0);
		}
		15% {
			transform: translateY(0);
		}
		17% {
			transform: translateY(-1em);
		}
		32% {
			transform: translateY(-1em);
		}
		34% {
			transform: translateY(-2em);
		}
		49% {
			transform: translateY(-2em);
		}
		51% {
			transform: translateY(-3em);
		}
		66% {
			transform: translateY(-3em);
		}
		68% {
			transform: translateY(-4em);
		}
		83% {
			transform: translateY(-4em);
		}
		85% {
			transform: translateY(-5em);
		}
		100% {
			transform: translateY(-5em);
		}
	}

	@media (max-width: 670px) {
		.hero-text {
			font-size: 4em;
		}
		#hero-text-rotate ul{
			text-align: center;
		}
		.hero-img {
			height: 105%;
			width: auto;
		}
	}
	@media (max-width: 512px) {
		.hero-text {
			font-size: 3.5em;
		}
	}
</style>