<div layout-align="center center" layout="column"   style="min-height: 850px">
    <div class="loginBox md-whiteframe-z1 md-primary"   layout="column">
        <md-toolbar color="primary" layout-align="center center">
            <span>Sign Up</span>
        </md-toolbar>

        <form name="projectForm">
            <md-content layout-padding>
                <md-input-container class="md-block">
                    <label>Your Name</label>
                    <input  type="text" name="userName" ng-model="project.userName" required/>

                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required type="email" name="userEmail" ng-model="project.userEmail"
                           ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="projectForm.userEmail.$error">
                        <div ng-if="projectForm.userEmail.$error.required"> </div>
                        <div ng-if="projectForm.userEmail.$error.pattern" >Please enter a valid email address.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input required type="text" name="userUserName" ng-model="project.userUserName"
                           ng-minlength="6" />
                    <div ng-messages="projectForm.userUserName.$error">
                        <div ng-if="projectForm.userUserName.$error.required"> </div>
                        <div ng-if="projectForm.userUserName.$error.minlength" >Username must have 6 characters.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input required type="password" name="userPassword" ng-model="project.userPassword"
                           ng-minlength="6">
                    <div ng-messages="projectForm.userPassword.$error">
                        <div ng-if="projectForm.userPassword.$error.required"></div>
                        <div ng-if="projectForm.userPassword.$error.minlength" >Password must be at least 6 characters.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Confirm Password</label>
                    <input required type="password" name="userPassword2" ng-model="project.userPassword2"
                           ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
                    <div ng-messages="projectForm.userPassword2.$error">
                    <div ng-if="projectForm.userPassword2.$error.required"></div>
                    <div ng-if="projectForm.userPassword2.$error.pattern" >Password must be at least 6 characters.</div>
                    </div>
                </md-input-container>
                    <md-input-container class="md-block">
                        <label>Phone Number</label>
                        <input type="tel" name="userPhoneNumber" ng-model="project.userPhoneNumber"/>
                    </md-input-container>

                <md-input-container class="md-block">
                    <md-button  class="md-raised md-primary buttons" ng-model="project.signUp">Sign Up
                    </md-button>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-button class="md-raised md-primary buttons"  ng-project="project.login" ng-href="/#!/login">Go to Login
                    </md-button>
                </md-input-container>

        </form>
    </div>
    </md-primary>
</div>
<style>
    .loginBox {
        max-width: 90%;
        width: 500px;
    }
    .buttons{
        width: 95%;
    }
</style>