<div ng-app="forgotPassword" layout-align="center center" layout="column"  style="min-height: 700px">
    <div class="loginBox md-whiteframe-z1 md-primary"   layout="column">
        <md-toolbar color="primary" layout-align="center center">
            <span>Forgot Password</span>
        </md-toolbar>

        <form name="projectForm3" style="min-width: 300px">
            <md-content layout-padding >
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required type="email" name="resetEmail" ng-model="project.resetEmail"
                           ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="projectForm3.resetEmail.$error">
                        <div ng-if="projectForm3.resetEmail.$error.required"> </div>
                        <div ng-if="projectForm3.resetEmail.$error.pattern" >Please enter a valid email address.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-button class="md-raised md-primary buttons" name="resetPassword">Reset
                    </md-button>
                    <div ng-if="projectForm.resetPassword.$submitted"
                         ng-messages="projectForm.resetPassword.$error"  role="alert">
                        <div >Email sent to reset password</div>
                    </div>
                </md-input-container>
            </md-content>
        </form>
    </div>
</div>
<style>
    .buttons{
        max-width: 95%;
        width: 95%;

    }

</style>