<md-card flex-auto ng-init="$ctrl.init($ctrl.requestInfo.modelID)">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{model.name}}</span>
			<div class="md-subhead">
				<div>Dimensions: {{$ctrl.requestInfo.dimensionX}} &times; {{$ctrl.requestInfo.dimensionY}} in</div>
				<div>Colors: <span ng-style="{display: 'inline-block', width: '1em', height: '1em', backgroundColor: itemColor, marginRight: '1em'}" ng-repeat="itemColor in $ctrl.requestInfo.colors"></span></div>
			</div>
		</md-card-title-text>
		<md-card-title-media>
			<div class="md-media-md card-media">
				<img ng-src="{{model.thumbnailURL}}">
			</div>
		</md-card-title-media>
	</md-card-title>
	<md-card-actions layout="row" layout-align="end center">
		<a ng-href="#/{{model.fileURL}}" class="md-button" ng-style="{marginRight: '1em'}">
			<md-icon>visibility</md-icon>
			<span hide-xs>View</span> Model
		</a>
		<md-button class="md-raised md-primary">
			<md-icon>send</md-icon>
			<span hide-xs>Make</span> Offer
		</md-button>
	</md-card-actions>
</md-card>