<div layout-align="center center" layout="column"  style="min-height: 850px" ng-controller="loginController">
    <div class="loginBox md-whiteframe-z1 md-primary"  layout="column">
    <md-toolbar color="primary" layout-align="center center">
        <span>Login</span>
    </md-toolbar>

    <form name="projectForm2" >
        <md-content layout-padding >
            <md-input-container class="md-block">
                <label>Email or Username</label>
                <input required type="text" name="userEmail" ng-model="login.email"/>
                <div ng-messages="projectForm2.userEmail.$error" role="alert" multiple="">

                    <div ng-if="projectForm2.userEmail.$dirty">

                    </div>
                </div>
            </md-input-container>
    <md-input-container class="md-block">
        <label>Password</label>
        <input required type="password" name="loginPassword" ng-model="project.loginPassword"
               ng-minlength="6">
        <div ng-messages="projectForm2.loginPassword.$error">
            <div ng-if="projectForm2.loginPassword.$error.required"></div>
            <div ng-if="projectForm2.loginPassword.$error.minlength" >Password must be at least 6 characters.</div>
        </div>
    </md-input-container>
            <md-input-container class="md-block">
            <md-button  class="md-raised md-primary buttons">Login
            </md-button>

            </md-input-container>
            <md-input-container class="md-block">
            <md-button class="md-raised md-primary buttons" ng-href="/#!/forgotPassword">Forgot Password?
            </md-button>
            </md-input-container>

            <md-input-container class="md-block">
                <md-button class="md-raised md-primary buttons" ng-href="/#!/signUp">Sign Up
                </md-button>
            </md-input-container>
        </md-content>
</form>
    </div>
  </div>
<style>
    .loginBox {
        max-width: 90%;
        width: 500px;

    }
    .buttons{
        max-width: 95%;
        width: 95%;

    }

</style>