<div layout-align="center center" layout="column"  style="min-height: 700px">
    <div class="loginBox md-whiteframe-z1 md-primary"   layout="column">
    <md-toolbar color="primary" layout-align="center center">
        <span>Login</span>
    </md-toolbar>

    <form name="projectForm " >
        <md-content layout-padding >
            <md-input-container class="md-block">
                <label>Email or Username</label>
                <input required type="text" name="userEmail" ng-model="project.userEmail"/>
                <div ng-messages="projectForm.userEmail.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Please enter  a valid email or username.
                    </div>
                </div>
            </md-input-container>
    <md-input-container class="md-block">
        <label>Password</label>
        <input required type="password" ng-model="project.userPassword"
               ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
        <div ng-messages="projectForm.userPassword.$error">
            <div ng-message="required">Requires 8 characters, 1 number, 1 character, and 1 special character.</div>
        </div>
    </md-input-container>
            <md-input-container class="md-block">
            <md-button  class="md-raised md-primary buttons">Login
            </md-button>

            </md-input-container>
            <md-input-container class="md-block">
            <md-button class="md-raised md-primary buttons"">Forgot Password
            </md-button>
            </md-input-container>

            <md-input-container class="md-block">
                <md-button class="md-raised md-primary buttons">Sign Up
                </md-button>
            </md-input-container>
        </md-content>
</form>
    </div>
  </div>
<style>
    .loginBox {
        max-width: 90%;
        width: 500px;

    }
    .buttons{
        max-width: 95%;
        width: 95%;

    }

</style>