<md-card flex-auto>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{$ctrl.modelInfo.name}}</span>
		</md-card-title-text>
		<md-card-title-media>
			<div class="md-media-md card-media">
				<img ng-src="{{$ctrl.modelInfo.thumbnailURL}}">
			</div>
		</md-card-title-media>
	</md-card-title>
	<md-card-actions layout="row" layout-align="end center">
		<a ng-href="#/{{$ctrl.modelInfo.fileURL}}" class="md-button" ng-style="{marginRight: '1em'}">
			<md-icon>file_download</md-icon>
			<span hide-xs>Download</span> ({{$ctrl.modelInfo.fileSize}})
		</a>
		<md-button class="md-raised md-primary">
			<md-icon>send</md-icon>
			<span hide-xs>Make</span> Request
		</md-button>
	</md-card-actions>
</md-card>
